*{
	margin: 0px 0px 0px 0px;
}
html{
	height: 100%;
}
body {
	background-color: lightblue;
	height: 100%;
}

.menu{
	height: 33.3%;
}

#information {
	height: 13%
}

#nomJoueur {
	border: none;
	text-align: center;
	width: 55%;
	height: 65%;
	border-radius: 12px;
	padding: 0% 0%;
	font-size: 40px;
	display: inline-block;
	text-decoration: none;
	margin: 5% 5% 5% 5%;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 0% 0%;
	width: 30%;
	height: 65%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 50px;
	border-radius: 12px;
}