*{
	margin: 0px 0px 0px 0px;
}
html{
	height: 100%;
}
body {
	background-color: lightblue;
	height: 100%;
}

.menu{
	height: 28%;
}

#information {
	height: 13%
}

#nomJoueur {
	border: none;
	text-align: center;
	width: 55%;
	height: 65%;
	border-radius: 12px;
	padding: 0% 0%;
	font-size: 40px;
	display: inline-block;
	text-decoration: none;
	margin: 5% 5% 5% 5%;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 0% 0%;
	width: 30%;
	height: 65%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 50px;
	border-radius: 12px;
}
.nomDeJoueur {
	font-size: 90px;
	height: 20%;
	border-top-style: solid;
	border-bottom-style: hidden; 
	padding: 3% 0% 3% 0%;
}
#listeDesJoueur{
	list-style-type: none;
	padding: 0px;
}
#menu {
	height: 15%;
	position: sticky;
	bottom: 0px;
	background-color: #8B8C9D;
}
select {
	background-color: white; /* grey */
	border: none;
	text-align: center;
	width: 55%;
	height: 65%;
	border-radius: 12px;
	padding: 0% 0%;
	font-size: 40px;
	display: inline-block;
	text-decoration: none;

	margin: 5% 5% 5% 5%;
}
h1 {
	font-size: 100px;
	text-align: center;
}